<div class="banner-carousel banner-carousel-2 mb-0">
  <div
    class="banner-carousel-item"
    style="background-image: url(assets/images/slider-main/bg4.jpg)">
    <div class="container">
      <div class="box-slider-content">
        <div class="box-slider-text">
          <h2 class="box-slide-title">Produtos de Qualidade</h2>
          <h3 class="box-slide-sub-title">Agricultura de Precisão</h3>
          <p class="box-slide-description">
            É sempre importante cuidar preventivamente de seus equipamentos e
            maquinarios agricolas.
          </p>
          <p>
            <a href="services.html" class="slider btn btn-primary"
              >Linha Agrícola</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="banner-carousel-item"
    style="background-image: url(assets/images/slider-main/bg5.jpg)"
  >
    <div class="slider-content text-left">
      <div class="container">
        <div class="box-slider-content">
          <div class="box-slider-text">
            <h2 class="box-slide-title">As melhores Marcas</h2>
            <h3 class="box-slide-sub-title">Tornamos a sua Esolha Simples</h3>
            <p class="box-slide-description">
              As principais marcas estão disponiveis em nosso catalogo, sua
              satifição e credibilidade são nossos compromissos.
            </p>
            <p>
              <a
                href="about.html"
                class="slider btn btn-primary"
                aria-label="about-us"
                >Conheça nossos Parceiros</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action no-padding">
  <div class="container">
    <div class="action-style-box">
      <div class="row">
        <div class="col-md-8 text-center text-md-left">
          <div class="call-to-action-text">
            <h3 class="action-title">Produdos de Qualidade para seu Négocio</h3>
          </div>
        </div>
        <!-- Col end -->
        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
          <div class="call-to-action-btn">
            <a class="btn btn-primary" href="contact.html"
              >Solicite uma Visita</a>
          </div>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- Action style box -->
  </div>
  <!-- Container end -->
</section>
<!-- Action end -->
