

<!-- Carousel start -->
<app-carousel-pr></app-carousel-pr>
<!--/ Carousel end -->



<section id="ts-features" class="ts-features pb-2">
<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="assets/images/services/service1.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/icon-image/service-icon1.png" alt="service-icon" />
              </div>
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a href="service-single.html">Zero Harm Everyday</a></h3>
                  <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor suscipit.</p>
                  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
              </div>
            </div>
        </div><!-- Service1 end -->
      </div><!-- Col 1 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="assets/images/services/service2.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/icon-image/service-icon2.png" alt="service-icon" />
              </div>
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a href="service-single.html">Virtual Construction</a></h3>
                  <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor suscipit.</p>
                  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
              </div>
            </div>
        </div><!-- Service2 end -->
      </div><!-- Col 2 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="assets/images/services/service3.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/icon-image/service-icon3.png" alt="service-icon" />
              </div>
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a href="service-single.html">Build To Last</a></h3>
                  <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor suscipit.</p>
                  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
              </div>
            </div>
        </div><!-- Service3 end -->
      </div><!-- Col 3 end -->
  </div><!-- Content row end -->
</div><!-- Container end -->
</section><!-- Feature are end -->

<!-- Indicators start -->
<app-indicator-pr></app-indicator-pr>
<!-- Indicators end -->

<section id="ts-service-area" class="ts-service-area pb-0">
<div class="container">
  <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">SOMOS ESPECIALISTAS EM</h2>
        <h3 class="section-sub-title">No que fazemos</h3>
      </div>
  </div>
  <!--/ Title row end -->

  <div class="row">
      <div class="col-lg-4">
        <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="assets/images/icon-image/service-icon1.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Peças Agrícolas</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
        </div><!-- Service 1 end -->

        <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="assets/images/icon-image/service-icon2.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Peças de Linha Industrial</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
        </div><!-- Service 2 end -->



      </div><!-- Col end -->

      <div class="col-lg-4 text-center">
        <img loading="lazy" class="img-fluid" src="assets/images/services/service-center.jpg" alt="service-avater-image">
      </div><!-- Col end -->

      <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
        <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="assets/images/icon-image/service-icon4.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Linha Mecânica</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
        </div><!-- Service 4 end -->

        <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="assets/images/icon-image/service-icon5.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Parafusos & Fixadores</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
        </div><!-- Service 5 end -->

      </div><!-- Col end -->
  </div><!-- Content row end -->

</div>
<!--/ Container end -->
</section><!-- Service end -->

<section id="project-area" class="project-area solid-bg">
<div class="container">
  <div class="row text-center">
    <div class="col-lg-12">
      <h2 class="section-title">Qualidade que Fixa</h2>
      <h3 class="section-sub-title">Produtos em Destaque</h3>
    </div>
  </div>
  <!--/ Title row end -->

  <div class="row">
    <div class="col-12">
      <div class="shuffle-btn-group">
        <label class="active" for="all">
          <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Show All
        </label>
        <label for="commercial">
          <input type="radio" name="shuffle-filter" id="commercial" value="commercial">Commercial
        </label>
        <label for="education">
          <input type="radio" name="shuffle-filter" id="education" value="education">Education
        </label>
        <label for="government">
          <input type="radio" name="shuffle-filter" id="government" value="government">Government
        </label>
        <label for="infrastructure">
          <input type="radio" name="shuffle-filter" id="infrastructure" value="infrastructure">Infrastructure
        </label>
        <label for="residential">
          <input type="radio" name="shuffle-filter" id="residential" value="residential">Residential
        </label>
        <label for="healthcare">
          <input type="radio" name="shuffle-filter" id="healthcare" value="healthcare">Healthcare
        </label>
      </div><!-- project filter end -->


      <div class="row shuffle-wrapper">
        <div class="col-1 shuffle-sizer"></div>

        <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
          <div class="project-img-container">
            <a class="gallery-popup" href="assets/images/projects/project1.jpg" aria-label="project-img">
              <img class="img-fluid" src="assets/images/projects/project1.jpg" alt="project-img">
              <span class="gallery-icon"><i class="fa fa-plus"></i></span>
            </a>
            <div class="project-item-info">
              <div class="project-item-info-content">
                <h3 class="project-item-title">
                  <a href="projects-single.html">Capital Teltway Building</a>
                </h3>
                <p class="project-cat">Commercial, Interiors</p>
              </div>
            </div>
          </div>
        </div><!-- shuffle item 1 end -->

        <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;healthcare&quot;]">
          <div class="project-img-container">
            <a class="gallery-popup" href="assets/images/projects/project2.jpg" aria-label="project-img">
              <img class="img-fluid" src="assets/images/projects/project2.jpg" alt="project-img">
              <span class="gallery-icon"><i class="fa fa-plus"></i></span>
            </a>
            <div class="project-item-info">
              <div class="project-item-info-content">
                <h3 class="project-item-title">
                  <a href="projects-single.html">Ghum Touch Hospital</a>
                </h3>
                <p class="project-cat">Healthcare</p>
              </div>
            </div>
          </div>
        </div><!-- shuffle item 2 end -->

        <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;commercial&quot;]">
          <div class="project-img-container">
            <a class="gallery-popup" href="assets/images/projects/project3.jpg" aria-label="project-img">
              <img class="img-fluid" src="assets/images/projects/project3.jpg" alt="project-img">
              <span class="gallery-icon"><i class="fa fa-plus"></i></span>
            </a>
            <div class="project-item-info">
              <div class="project-item-info-content">
                <h3 class="project-item-title">
                  <a href="projects-single.html">TNT East Facility</a>
                </h3>
                <p class="project-cat">Government</p>
              </div>
            </div>
          </div>
        </div><!-- shuffle item 3 end -->

        <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
          <div class="project-img-container">
            <a class="gallery-popup" href="assets/images/projects/project4.jpg" aria-label="project-img">
              <img class="img-fluid" src="assets/images/projects/project4.jpg" alt="project-img">
              <span class="gallery-icon"><i class="fa fa-plus"></i></span>
            </a>
            <div class="project-item-info">
              <div class="project-item-info-content">
                <h3 class="project-item-title">
                  <a href="projects-single.html">Narriot Headquarters</a>
                </h3>
                <p class="project-cat">Infrastructure</p>
              </div>
            </div>
          </div>
        </div><!-- shuffle item 4 end -->

        <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">
          <div class="project-img-container">
            <a class="gallery-popup" href="assets/images/projects/project5.jpg" aria-label="project-img">
              <img class="img-fluid" src="assets/images/projects/project5.jpg" alt="project-img">
              <span class="gallery-icon"><i class="fa fa-plus"></i></span>
            </a>
            <div class="project-item-info">
              <div class="project-item-info-content">
                <h3 class="project-item-title">
                  <a href="projects-single.html">Kalas Metrorail</a>
                </h3>
                <p class="project-cat">Infrastructure</p>
              </div>
            </div>
          </div>
        </div><!-- shuffle item 5 end -->

        <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">
          <div class="project-img-container">
            <a class="gallery-popup" href="assets/images/projects/project6.jpg" aria-label="project-img">
              <img class="img-fluid" src="assets/images/projects/project6.jpg" alt="project-img">
              <span class="gallery-icon"><i class="fa fa-plus"></i></span>
            </a>
            <div class="project-item-info">
              <div class="project-item-info-content">
                <h3 class="project-item-title">
                  <a href="projects-single.html">Ancraft Avenue House</a>
                </h3>
                <p class="project-cat">Residential</p>
              </div>
            </div>
          </div>
        </div><!-- shuffle item 6 end -->
      </div><!-- shuffle end -->
    </div>

    <div class="col-12">
      <div class="general-btn text-center">
        <a class="btn btn-primary" href="projects.html">Catalógo Completo de Produtos</a>
      </div>
    </div>

  </div><!-- Content row end -->
</div>
<!--/ Container end -->
</section><!-- Project area end -->

<!-- testimonials-clients start -->

<!-- <app-testimonials-clients-pr></app-testimonials-clients-pr> -->
<!-- testimonials-clients end -->

<section class="subscribe no-padding">
<div class="container">
  <div class="row">
      <div class="col-lg-4">
        <div class="subscribe-call-to-acton">
            <h3>Podemos Ajudar?</h3>
            <h4>(67) 3027-4500</h4>
        </div>
      </div><!-- Col end -->

      <div class="col-lg-8">
        <div class="ts-newsletter row align-items-center">
            <div class="col-md-5 newsletter-introtext">
              <h4 class="text-white mb-0">Newsletter</h4>
              <p class="text-white">Recebas as principais Promoções</p>
            </div>

            <div class="col-md-7 newsletter-form">
              <form action="#" method="post">
                  <div class="form-group">
                    <label for="newsletter-email" class="content-hidden">Newsletter Email</label>
                    <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Informe seu endereço de E-mail" autocomplete="off">
                  </div>
              </form>
            </div>
        </div><!-- Newsletter end -->
      </div><!-- Col end -->

  </div><!-- Content row end -->
</div>
<!--/ Container end -->
</section>
<!--/ subscribe end -->

<section id="news" class="news">
<div class="container">
  <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Aproveite Agora</h2>
        <h3 class="section-sub-title">Promoçoes</h3>
      </div>
  </div>
  <!--/ Title row end -->

  <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="latest-post">
            <div class="latest-post-media">
              <a href="news-single.html" class="latest-post-img">
                  <img loading="lazy" class="img-fluid" src="assets/images/news/news1.jpg" alt="img">
              </a>
            </div>
            <div class="post-body">
              <h4 class="post-title">
                  <a href="news-single.html" class="d-inline-block">We Just Completes $17.6 million Medical Clinic in Mid-Missouri</a>
              </h4>
              <div class="latest-post-meta">
                  <span class="post-item-date">
                    <i class="fa fa-clock-o"></i> July 20, 2017
                  </span>
              </div>
            </div>
        </div><!-- Latest post end -->
      </div><!-- 1st post col end -->

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="latest-post">
            <div class="latest-post-media">
              <a href="news-single.html" class="latest-post-img">
                  <img loading="lazy" class="img-fluid" src="assets/images/news/news2.jpg" alt="img">
              </a>
            </div>
            <div class="post-body">
              <h4 class="post-title">
                  <a href="news-single.html" class="d-inline-block">Thandler Airport Water Reclamation Facility Expansion Project Named</a>
              </h4>
              <div class="latest-post-meta">
                  <span class="post-item-date">
                    <i class="fa fa-clock-o"></i> June 17, 2017
                  </span>
              </div>
            </div>
        </div><!-- Latest post end -->
      </div><!-- 2nd post col end -->

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="latest-post">
            <div class="latest-post-media">
              <a href="news-single.html" class="latest-post-img">
                  <img loading="lazy" class="img-fluid" src="assets/images/news/news3.jpg" alt="img">
              </a>
            </div>
            <div class="post-body">
              <h4 class="post-title">
                  <a href="news-single.html" class="d-inline-block">Silicon Bench and Cornike Begin Construction Solar Facilities</a>
              </h4>
              <div class="latest-post-meta">
                  <span class="post-item-date">
                    <i class="fa fa-clock-o"></i> Aug 13, 2017
                  </span>
              </div>
            </div>
        </div><!-- Latest post end -->
      </div><!-- 3rd post col end -->
  </div>
  <!--/ Content row end -->

  <div class="general-btn text-center mt-4">
      <a class="btn btn-primary" href="news-left-sidebar.html">Ver Todas as Promoções</a>
  </div>

</div>
<!--/ Container end -->
</section>
<!--/ News end -->

<router-outlet></router-outlet>
