<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="column-title">
          Sobre a Mmath Parafusos & Fixadores / Mmath Peças Agrícolas
        </h3>
        <p>
          Bem-vindo à Mmath Parafusos & Fixadores, sua fonte confiável para
          soluções de fixação de alta qualidade. Fundada com um compromisso
          inabalável com a qualidade e o atendimento ao cliente, a Mmath é uma
          empresa dedicada a fornecer parafusos e fixadores de excelência para
          atender às necessidades de uma ampla variedade de setores. A Mmath
          Peças Agrícolas é uma extensão de nosso compromisso com a excelência.
          Compreendemos a importância da agricultura e seu impacto fundamental
          em nossa sociedade. Portanto, estamos orgulhosos de oferecer uma linha
          completa de peças agrícolas de alta qualidade para atender às
          necessidades dos agricultores e da indústria agrícola em geral.
        </p>
      </div>
      <!-- Col end -->

      <div class="col-lg-6 mt-5 mt-lg-0">
        <div id="page-slider" class="page-slider small-bg">
          <div
            class="item"
            style="
              background-image: url(../assets/images/slider-pages/slide-page1.jpg);
            "
          >
            <div class="container">
              <div class="box-slider-content">
                <div class="box-slider-text">
                </div>
              </div>
            </div>
          </div>
          <!-- Item 1 end -->


        </div>
        <!-- Page slider end-->
      </div>

      <!-- Col end -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p><b>Nossa Missão</b></p>

        <p>
          Na MMATH, nossa missão é fornecer produtos de fixação da mais alta
          qualidade para atender às demandas específicas de nossos clientes.
          Estamos empenhados em ser líderes na indústria, oferecendo produtos
          duráveis, confiáveis e precisos que contribuem para o sucesso de
          nossos clientes.
        </p>
        <p><b>Nossos Produtos</b></p>

        <p>
          Com uma ampla gama de parafusos, fixadores e acessórios que atendem a
          diversas aplicações. Nossa equipe especializada está à disposição para
          orientar nossos clientes na escolha dos produtos certos para suas
          necessidades, garantindo sempre a melhor relação custo-benefício.
        </p>

        <p><b>Compromisso com a Qualidade</b></p>

        <p>
          A qualidade é a espinha dorsal de nossa empresa. Cada produto que
          vendemos passa por rigorosos testes de qualidade para garantir que
          atenda aos mais altos padrões da indústria. Isso nos permite fornecer
          produtos que são duráveis, confiáveis e capazes de suportar as
          condições mais exigentes.
        </p>

        <p><b>Nossa Dedicação ao Agronegócio</b></p>

        <p>
          Entendemos as complexidades e desafios enfrentados pelos agricultores
          modernos. Nossa equipe está empenhada em fornecer peças agrícolas
          robustas e confiáveis que contribuam para a eficiência e produtividade
          das operações agrícolas. Queremos ser seu parceiro confiável no campo,
          fornecendo as peças certas quando você mais precisa delas.
        </p>

        <blockquote>
          <p>
            Na Mmath Parafusos & Fixadores e na Mmath Peças Agrícolas, estamos
            comprometidos em fornecer produtos e serviços excepcionais que
            atendam às expectativas de nossos clientes. Valorizamos cada cliente
            e estamos ansiosos para construir relacionamentos duradouros com
            base na confiança, qualidade e excelência em tudo o que fazemos.
          </p>
        </blockquote>
      </div>
    </div>

    <!-- Content row end -->
  </div>
  <!-- Container end -->
</section>
<!-- Main container end -->

<app-indicator-pr></app-indicator-pr>
<!-- Facts end -->

<div style="text-align: center;">
  <a routerLink="/equipe" class="btn btn-primary col-lg-12">Nosso Time (Equipe MMATH)</a>
</div>

<router-outlet></router-outlet>
